body{
  background-image:url("master/watercolor.jpg");
}
  h1{color: white;
    text-align: center;
    font-family: "Century Gothic";
  }
  h1 {
    background-color:violet;
  }
  h2{
    background-color:violet;
  }
 
  h3{color: brown}
  p{
    font-family: "Times New Roman";
    font-size : 20px;
    text-decoration-color: white;
  }
table {
  width:50 %;
}
table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
